@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Sohne font */
@font-face {
  font-family: "Sohne-400";
  src: local("Sohne-400"),
    url("./assets/fonts/Sohne_Font_Family/Sohne-Buch.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
